.parrafosimpares{
    color:rgb(49, 192, 20); 
}
p.parrafo2{
    color:rgb(240, 17, 17)
}
#parrafo4{
    color:darkgoldenrod
}
span.impares{
    color: crimson;
}
span{
 background-color: rgb(154, 16, 167);
 color:black;
}
.parrafocursivas{
    font-style: oblique;
    color: blue;
    font-size: large;
}