body.b{
    background-color: khaki;
    background-image: url("./img/tortu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
iframe.videoprincipal{
    position: relative;
    top: -100px;
    left: 50px;
    width: 200px;
    height: 200px;
}
header{
    border: 2px red solid;
    border-radius: 9%;
    font-family: 'Courier New', Courier, monospace;

/*parte del medio del trabajo*/
}
h1.principaluno{
    color: red;
    padding: auto;
    position: relative;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
.menu:hover{
    background-color:  red;
}
li.menu{
    list-style-type: none;
    display: inline;
    margin: 60px;
    border: 3px red dashed;
    color: wheat;
    text-decoration: none; /*quitar subrayado*/

}
nav.Principal{
    border: 2px red solid;
    position: relative;
    margin-top: 25px;
    margin-left: 28%;
    padding-top: 380px;
    width: 70%;
    
}
/*.........................*/
main.lateralprincipal{
    border: 2px red solid;
    position: absolute;
    padding-top: 12%;
    width: 25%;
    top: 175px;
    margin: 2%;
}
a.link{
    position: relative;
    color: aqua;
    top: -100px;
}
a.linki{
    position: relative;
    color: aqua;
    top: -80px;
    
}
h3.maintext{
    color: white;
    text-align: center;
    position: relative;
    top: -160px;

}
h3.Maintext{
    position: relative;
    color: green;
    text-align: center;
    top: -100px;
}
h5{
    color: brown;
}
/*------------------------------*/
/*Parte final del trabajo */

footer.final{
    border: 2px green dashed;
    margin-left: 2%;
}
/*..................................*/
/* Atributos h*/
h5.enlace{
    color: aliceblue;
    position: relative;
    margin:2%;
}
h2.Bievenidos{
    color: wheat;
    text-align: center;
    position: relative;
    top: -200px;
}
h5.des{
    color: wheat;
    text-align: center;
}
/*...........................*/
a.ha{
    color: blue;
}
/*imagenes*/

img.tortuga1{
    width: 110px;
    left: ;
    height: 57px;
    padding: 2%;
    position: relative;
}
img.tortu1{
    width: 110px;
    left: 122px;
    height: 87px;
    padding: %;
    margin: 30px;
    position: relative;
}
img.tortu2{
    width: 110px;
    left: 450px;
    height: 87px;
    padding: %;
    margin: 30px;
    position: relative;
}
img.youtubeprincipal{
    width: 122px;
    left: 20px;
    height: 87px;
    padding: 2%;
    margin: 2px;
    position: relative;
}
img.instagramprincipal{
    width: 120px;
    left: 60px;
    height: 87px;
    padding: 2%;
    margin: 2px;
    position: relative
}
img.main{
    position: relative;
    width: 50%;
    height: 46%;
    top: -220px;
}
/*----------De aquí en adelante es formulario---------------------------------------*/
body{
    background-color: floralwhite;
    background-image: url("./img/tor.webp");
}

h2.formulario{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1.principal{
    color: red;
    padding: 1px;
    position: relative;
    text-align: center;
}


legend{
    text-align: center;
}
fieldset{
    background-color: bisque;
}
header{
    border: 2px red solid;
    border-radius: 9%;
    font-family: 'Courier New', Courier, monospace;
}
hr{
    background-color: brown;
    height: 2px;
    width: 50%;
}
li.menu{
    list-style-type: none;
    display: inline;
    padding: 1%;
    margin: 60px;
    border: 3px red dashed;
    color: wheat;
    text-decoration: none; /*quitar subrayado*/

}
a{
    text-decoration: none;
    color: aliceblue;
}
.menu:hover{
    background-color:  red;
}
legend{
    color: black;
    font-size: 20px;
}

footer.final{
    border: 2px green dashed;
}

/*Div Menú*/
div.botonesenviar{
    position: relative;
    margin-left: 40%;
}

/*-------------------------*/
h5.des{
    color: black;
    text-align: center;
}
/*_--------------------------*/
/*Imagenes*/
img.comer{
    position: relative;
    width: 20%;
    height: 30%;
    margin-left: 70%;
    margin-top: -2%;
}
img.youtubee{
    width: 122px;
    left: 250px;
    height: 87px;
    padding: 2%;
    margin: 2px;
    position: absolute;
}
img.instagraam{
    width: 120px;
    left: 100px;
    height: 87px;
    padding: 2%;
    margin: 1px;
    position: relative;
}
/*-----Desde aquí en adelante curriculum------*/
body{
    background-image: url(./img/tortu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    border: 2px red solid;
    border-radius: 9%;
    font-family: 'Courier New', Courier, monospace;
}

h1.principal{
    color: red;
    padding: 2%;
    position: relative;
    text-align: center;

}

a{
    color: white;
    text-decoration: none;
}
.menu:hover{
    background-color:  red;
}
/*--------------------------*/
main.lateral{
    border: 2px red solid;
    position: absolute;
    height: 200px;
    width: 280px;
    margin: 2%;
    left:-8px;
}
p.lateral{
    position: relative;
    top: -400px;
    text-align: center;
    color: aliceblue;
}
img.lateral{
    width: 40%;
    height: 40%;
    position: relative;
    top: -300px;
    left: 100px;
}
/*---------------------------*/
footer.final{
    border: 2px green dashed;
    color: white;
    text-align: center;
}

table.tablaprincipal{
    text-align: center;
    margin-left: 400px;
    border: 1px wheat solid;
    position: relative;
    
}
td.cabecera{
    width: 300px;
    background-color: wheat;
    border: 1px  wheat solid ;
    width: 250px;
}


td.td_curriculum2{
    border: 2px wheat solid;
    width: 260px;
    
}
td.td_curriculum2{
    color: white;
    background-color: black;
}

li.menu{
    list-style-type: none;
    display: inline;
    margin: 70px;
    border: 3px red dashed;
    color: wheat;
    text-decoration: none; /*quitar subrayado*/

}


/*Foto Youtube*/
img.youtubeuno{
    width: 122px;
    left: 130px;
    height: 87px;
    padding: 2%;
    margin: 2px;
    position: absolute;
}

img.instagramuno{
    width: 80px;
    height: 87px;
    padding: 2%;
    margin: 2%;
    position: relative;
}

iframe.videouno{
    position: relative;
    top: -290px;
    left: 50px;
}
img.foto{
    position: relative;
    height: 180px;
    border-radius: 2%;
    top: 10px;
}
/*----------------Desde aquí en adelante Caracteristicas------*/
body{
    background-color: aquamarine;
    background-image: url("./img/tortu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
/*----------------------------------*/
h1{
    color: blue;
    text-align: center;
}
header{
    border: 2px red solid;
    border-radius: 9%;
    font-family: 'Courier New', Courier, monospace;

}
h2{
    text-align: center;
    color: wheat;
}
/*-------------------------*/
hr.nav{
    position: relative;
    top: -200px;
    background-color: wheat;
    width: 50%;
    height: 3%;
}
p.caracteristicas{
    position: relative;
    top: -200px;
    text-align: center;
}
img.respetuoso{
    position: relative;
    height: 10%;
    width: 10%;
    top: -200px;
}
/*----------------------------------*/
li.menu{
        list-style-type: none;
        display: inline;
        padding: 1%;
        margin: 60px;
        border: 3px red dashed;
        color: wheat;
        text-decoration: none; /*quitar subrayado*/
    
}
a{
    color: wheat;
    text-decoration: none;
}
.menu:hover{
    background-color:  red;
}
/*--------------------------*/
p.informacion{
    color: wheat;
    position: relative;
    top: -200px;
    text-align: center;
}
p.caracteristicas{
    color: blue;
}

nav.n{
    border: 2px red solid;
    position: relative;
    margin-top: 25px;
    margin-left: 28%;
    padding-top: 380px;
    width: 70%;
    text-align: center;
    
}
img.responsable{
    position: relative;
    width: 10%;
    height: 10%;
    top: -200px;
}
img.lealtad{
    position: relative;
    width: 10%;
    height: 10%;
    top: -200px;
}
/*---------------------------*/

main.lateralcarac{
    border: 2px red solid;
    position: absolute;
    padding-top: 200px;
    width: 25%;
    top: 220px;
    margin: 2%;
}

p.lateraluno{
    color: wheat;
    position: relative;
    top: -210px;
    text-align: center;
}
hr.lateral{
   background-color: black;
    width: 50%;
    height: 3px;
    position: relative;
    top: -200px;
}
img.futbol{
    position: relative;
    top: -208px;
    width: 50%;
    height: 20%;
    left: 60px;
}
img.viajar{
    position: relative;
    width: 40%;
    height: 20%;
    top: -200px;
    left: 80px;
}
img.aplicacion{
    position: relative;
    width: 30%;
    height: 20%;
    top: -200px;
    left: 100px;
}

/*_-------------------------------*/
footer.final{
    border: 2px green dashed;
}

h5.des{
    color:  wheat;
    text-align: center;
}

/*---------------------*/
img.youtube{
    width: 122px;
    left: 150px;
    height: 87px;
    padding: 2%;
    position: relative;
}
img.insta{
    width: 120px;
    left: 270px;
    height: 87px;
    padding: 2%;
    position: relative;
}
/*----------------------------------------Historia-----------_*/
body{
    background-image: url("./img/for.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    border: 2px red solid;
    border-radius: 9%;
    font-family: 'Courier New', Courier, monospace;

/*parte del medio del trabajo*/
}
h1{
    color: blue;
    text-align: center;
}

li.menu{
    list-style-type: none;
    display: inline;
    padding: 1%;
    margin: 60px;
    border: 3px red dashed;
    color: black;
    text-decoration: none; /*quitar subrayado*/

}

a{
    color: wheat;
    text-decoration: none;
}
.menu:hover{
    background-color:  red;
}


nav.n{
    border: 2px red solid;
    position: relative;
    margin-top: 25px;
    margin-left: 28%;
    padding-top: 200px;
    width: 70%;
    text-align: center;
    
}

p.Bienvenidos{
    color: white;
    text-align: center;
    position: relative;
    top: -200px;
}
ol.Pelis{
    color: white;
    text-align: center;
    position: relative;
    top: -200px;
}
li.Pelis{
    color: white;
    text-align: center;
    position: relative;
    top: -200px;
}
/*---------------------*/
main.lateral{
    border: 2px red solid;
    position: absolute;
    padding-top: 290px;
    width: 25%;
    top: 210px;
    margin: 2%;
}
p.lateral{
    color: white;
    position: relative;
    top: -300px;
    text-align: center;
}
p.lateraldos{
    color: white;
    position: relative;
    top: -250px;
    text-align: center;
}
p.personajes{
    color: whitesmoke;
    position: relative;
    top: -230px;
    text-align: center;
}

/*----------------------------*/

hr{
    background-color: brown;
    width: 50%;
    height: 3px;
    top: -200px;
    position: relative;
}

/*-------------------*/
footer.final{
    border: 2px green dashed;
    /*----------------------------*/
}

/*Imagenes*/
img.youtuber{
    width: 122px;
    left: 10px;
    height: 87px;
    padding: 2%;
    position: relative;
}
img.instag{
    width: 120px;
    left: 120px;
    height: 87px;
    padding: 2%;
    position: relative;
}
img.main{
    position:relative;
    top:-240px;
    margin-left: 30%;
    width: 30%;
    height: 30%;
}
img.creador{
    position: relative;
    top: -215px;
    margin-left: 20px;
    width: 20%;
    height: 20%;
}
/*-------------------*/
h5.des{
    color: white;
    text-align: center;
}