/*Creado por Carlos Chaves*/
header.li{
    border: black 5px solid;
}
header :first-child{
    color: aqua;
}
/*Enlaces*/
a:link{
    background-color: yellow;
}
/*Para que cuando visitemos la página nos cambie de color al visitar un enlace*/
a:visited{
    background-color: black;
}
/*Para modificar algunos elementos*/
a:hover{
    background-color: yellow;
    color: green;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}