body.b{
    background-color: khaki;
    background-image: url("./img/tortu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    border: 2px green solid;
    border-radius: 9%;
}
h1.cr{
    color: red;
}
li.menu{
    list-style-type: none;
    display: inline;
    padding: 5px;
    margin: 90px;
    border: 3px red dashed;
    color: wheat;
}
nav.n{
    border: 2px red solid;
    position: relative;
}
main.lateral{
    border: 2px red solid;
    position: relative;
    padding-top: 2%;
    width: 34%;
    margin: 2%;
}





footer.final{
    border: 2px green dashed;
}








img.tortuga1{
    width: 110px;
    left: ;
    height: 57px;
    padding: 2%;
    position: relative;
}
img.tortu1{
    width: 110px;
    left: 122px;
    height: 87px;
    padding: %;
    margin: 30px;
    position: relative;
}
img.tortu2{
    width: 110px;
    left: 450px;
    height: 87px;
    padding: %;
    margin: 30px;
    position: relative;
}